@font-face {
	font-family: 'GothamBook';
	src: url('fonts/GothamBook.eot');
	src: local('GothamBook'),
	url('fonts/GothamBook.woff') format('woff'),
	url('fonts/GothamBook.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('fonts/RobotoCondensed.ttf');
	src: local('RobotoCondensed'),
	url('fonts/RobotoCondensed-Regular.ttf') format('truetype'),
	url('fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('fonts/PlayfairDisplay.ttf');
	src: local('PlayfairDisplay'),
	url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
	url('fonts/PlayfairDisplay-Light.ttf') format('truetype');
}


.all-items{
	overflow-x:hidden;
	font-family: 'RobotoCondensed';
}

/*
========================
Header Area Starts
========================
*/
header{
	
}

.container-fluid {
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
	position: fixed;
	z-index: 1000;

}
.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
	paddding:0rem 1rem;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
	background-image: linear-gradient(to left, #936416, #984841, #76425d, #49425a, #343a40);
}

.navbar-brand{
	
		
}

.header-items{
	padding-right: 3.5rem;
	pading-top: 0.5rem;
}
.navbar-nav{
	    padding-top: 0.5rem;
}
.header-items>ul>li{
	padding:.25rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	font-family: GothamBook;
	border-bottom: 0.5rem;
}
.header-items>ul>li:hover{
	border-bottom: solid medium rgba(255,245,245,1.00);
	color: white;
}
.header-items>ul>li.active{
	border-bottom: solid medium rgba(255,245,245,1.00);
	color: white;
}


.logo{
	max-height: 2.5rem;
	padding-left: 4rem;
}

/*-------------------------dropdown-----------*/

.dropdown-menu{
	margin-top: 0rem;
	padding: 0rem;
	border:.2rem;
}

.dropdown-submenu>ul{
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
	background-color: #343a40;
	color:#fff;
	
}
.dropdown-submenu>ul>li{
	list-style: none;
	padding-left: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	width: 14rem;
	position:relative;
}
.dropdown-submenu>ul>li>a{
	text-decoration: none;
	color: #FFF;
}
.dropdown-submenu>ul>li:hover{
	background-color:#1f1f1f;
}
.dropdown-submenu>ul>li>ul>li{
	list-style: none;
	padding-left: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	width: 12rem;
	position:relative;
}

.dropdown-submenu>ul>li>ul{
	transition: all 0.6s;
	opacity: 0;
	visibility:hidden;
	position: absolute;
	left: 83%;
	top: -0;
}
.dropdown-submenu>ul>li:hover>ul{
	opacity: 1;
	visibility: visible;
	z-index: 100;
}

.dropdown-submenu>ul>li:hover>a{
	background-color:#1f1f1f;
	color:white;
}
.dropdown-submenu>ul>li>ul>li{
	background-color:#343a40;
	color:#fff;;
}.dropdown-submenu>ul>li>ul>li>a{
	text-decoration: none;
	color: #fff;
}
.dropdown-submenu>ul>li>ul>li:hover{
	background-color: #1f1f1f;
}
.dropdown-submenu>ul>li>ul>li:hover>a{
	color: white;
}



/*
==============================================
Container-img Area Starts
================================================
*/

.container-img{
	background: url(images/container-pic/about_us.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height:42rem;
	background-image: linear-gradient(to left, rgba(147, 100, 22, 0.45), rgba(152, 72, 65, 0.45), rgba(118, 66, 93, 0.45), rgba(73, 66, 90, 0.45), rgba(52, 58, 64, 0.45)), url(images/container-pic/about_us.jpg);
	background-attachment: fixed;
}
.container-img>h1{
	color: white;;
	height: 40rem;
	line-height: 40rem;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0rem;
	font-size: 4rem;
	
}


/*
==========================================
Who we are area starts
=========================================
*/

.who-we-are{
	padding-top: 9rem;
	padding-bottom: 9rem;
	
}

.who-we-are-head>h1{
	text-align: center;
	font-size: 4rem;
}
.who-we-are-describe{
	text-align: justify;
}

.who-we-are-describe>h4{
	font-size:1.35rem;
}
/*
==========================================
Who we are area ends
=========================================
*/


.container-img-vision{
	
	background-size: cover;
	min-height:20rem;
	background-image: linear-gradient(to left, rgba(147, 100, 22, 0.45), rgba(152, 72, 65, 0.45), rgba(118, 66, 93, 0.45), rgba(73, 66, 90, 0.45), rgba(52, 58, 64, 0.45)), url(images/container-pic/vision.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.container-img-mission{
	
	background-size: cover;
	min-height:20rem;
	background-image: linear-gradient(to left, rgba(147, 100, 22, 0.45), rgba(152, 72, 65, 0.45), rgba(118, 66, 93, 0.45), rgba(73, 66, 90, 0.45), rgba(52, 58, 64, 0.45)), url(images/container-pic/mission.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}


/*
==========================================
Vison mission area starts
=========================================
*/
.vision{
	padding-top: 9rem;
	padding-bottom: 9rem;
	
}

.vision-head>h1{
	text-align: center;
	font-size: 4rem;
}
.vision-describe{
	text-align: center;
}

.vision-describe>h4{
	font-size:1.35rem;

}


.mission{
	padding-top: 9rem;
	padding-bottom: 9rem;
	
}

.mission-head>h1{
	text-align: center;
	font-size: 4rem;
}
.mission-describe{
	text-align: center;
}

.mission-describe>h4{
	font-size:1.35rem;

}










/*======================================
Footer Area Starts
=====================================*/
.footer{
	background-image: linear-gradient(to left, rgba(210,130,0,0.7514356084230567) 0%, rgba(2,2,35,1) 50%, rgba(4,175,209,0.7290266448376226) 100%), url(images/bg/5701.jpg);
	background-size: cover;
	background-attachment: fixed;
	
}
.footer-list{
	 padding-top: 4rem;
}
.footer-list>li{
	list-style: none;
	padding-top:1rem;
	font-family: 'RobotoCondensed';
}
.footer-list>li>a{
	text-decoration: none;
	color:white;
}
.footer-logo>img{
	text-align: center;
	padding-top:8rem;
	padding-left: 0rem;
}
.follow-us>h4{
	padding-top:8rem;
	color:white;
	text-align: center;
}
.follow-us>ul>li{
	list-style:none;
	display: inline-block;
	text-align: center;
	padding-right: .5rem;
}
.follow-us>ul{
	font-family: 'RobotoCondensed';
	text-align: center;
	font-size: 1.75rem;
}
.right>h6{
	color:white;
	text-align:center;
	font-family: 'RobotoCondensed';
}
