@font-face {
	font-family: 'GothamBook';
	src: url('fonts/GothamBook.eot');
	src: local('GothamBook'),
	url('fonts/GothamBook.woff') format('woff'),
	url('fonts/GothamBook.ttf') format('truetype');
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('fonts/RobotoCondensed.ttf');
	src: local('RobotoCondensed'),
	url('fonts/RobotoCondensed-Regular.ttf') format('truetype'),
	url('fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('fonts/PlayfairDisplay.ttf');
	src: local('PlayfairDisplay'),
	url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
	url('fonts/PlayfairDisplay-Light.ttf') format('truetype');
}

.all-items{
	overflow-x:hidden;
	font-family: 'GothamBook';
}

/*
========================
Header Area Starts
========================
*/
header{
	
}

.container-fluid {
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
	position: fixed;
	z-index: 1000;

}
.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
	paddding:0rem 1rem;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
	background-image: linear-gradient(to left, #936416, #984841, #76425d, #49425a, #343a40);
}

.navbar-brand{
	
		
}

.header-items{
	padding-right: 3.5rem;
	pading-top: 0.5rem;
}
.navbar-nav{
	    padding-top: 0.5rem;
}
.header-items>ul>li{
	padding:.25rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	font-family: GothamBook;
	border-bottom: 0.5rem;
}
.header-items>ul>li:hover{
	border-bottom: solid medium rgba(255,245,245,1.00);
	color: white;
}
.header-items>ul>li.active{
	border-bottom: solid medium rgba(255,245,245,1.00);
	color: white;
}


.logo{
	max-height: 3rem;
	padding-left: 4rem;
}

/*-------------------------dropdown-----------*/

.dropdown-menu{
	margin-top: 0rem;
	padding: 0rem;
	border:.2rem;
}

.dropdown-submenu>ul{
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
	background-color: #343a40;
	color:#fff;
	
}
.dropdown-submenu>ul>li{
	list-style: none;
	padding-left: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	width: 14rem;
	position:relative;
}
.dropdown-submenu>ul>li>a{
	text-decoration: none;
	color: #FFF;
}
.dropdown-submenu>ul>li:hover{
	background-color:#1f1f1f;
}
.dropdown-submenu>ul>li>ul>li{
	list-style: none;
	padding-left: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	width: 12rem;
	position:relative;
}

.dropdown-submenu>ul>li>ul{
	transition: all 0.6s;
	opacity: 0;
	visibility:hidden;
	position: absolute;
	left: 83%;
	top: -0;
}
.dropdown-submenu>ul>li:hover>ul{
	opacity: 1;
	visibility: visible;
	z-index: 100;
}

.dropdown-submenu>ul>li:hover>a{
	background-color:#1f1f1f;
	color:white;
}
.dropdown-submenu>ul>li>ul>li{
	background-color:#343a40;
	color:#fff;;
}.dropdown-submenu>ul>li>ul>li>a{
	text-decoration: none;
	color: #fff;
}
.dropdown-submenu>ul>li>ul>li:hover{
	background-color: #1f1f1f;
}
.dropdown-submenu>ul>li>ul>li:hover>a{
	color: white;
}



/*====================
Carousel Area
=========================
*/

.carousel-inner{
	max-height: 46.5rem;
}
.single_carousel>img{
	height: 46.5rem;
	padding-top: 3.4rem;
	
}


/*=============================
Latest Prodct Area
==============================*/
.product_area{
	background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.5) 10%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(images/bg/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}

.multi_carousel_area{
	padding-left: 3rem;
	padding-right: 1.5rem;
}

.latest-product-head{
	padding-top: 12rem;
	padding-bottom: 8rem;
	text-align: center;
}
.latest-product-head>h1 {
	font-family: 'Playfair Display', serif;
   background-color: #FFFFFF;
    opacity: 1;
    margin-right: 30rem;
    margin-left: 28rem;
    line-height: 3.5rem;
    border-radius: .8;
    border: .25rem solid #000000;
	font-size: 3rem;
	padding-bottom: .5rem;
}
.multi-column-carousel{
	height:16.875rem;
	width:28.75rem;
	padding-right:.75rem;
	padding-left: .75rem;
}

.img-thumbnail {
    padding: .25rem;
    background-color: transparent; 
   	border: none; 
    border-radius: .25rem;
    
    
}

/*==================================
Wings of Rimex Area
=====================================*/
.wings_rimex{
	padding-top: 12rem;
	padding-bottom: 10rem;
}
.wings_rimex_head{
	padding-bottom: 5rem;
	text-align: center;
}
.wings_rimex_head>h1 {
	font-family: 'Playfair Display', serif;
   background-color: #FFFFFF;
    opacity: 1;
    margin-right: 20rem;
    margin-left: 20rem;
    line-height: 3.5rem;
    border-radius: .8;
    border: .25rem solid #000000;
	font-size: 3rem;
	padding-bottom: .5rem;
}
.text_wings{
	background-color: #242424;
	color: #E4E4E4;
	text-align: center;
	display: block;
    height: 20.09rem;
    line-height:20.09rem;
    vertical-align: middle;
}
.text_wings>a>h4{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	display: block;
    height: 10.09rem;
    line-height: 18.09rem;
    vertical-align: middle;
}
.text_wings>a:link{
	text-decoration: none;
	color:#E6E6E6;
}
.text_wings>a>h4:hover{
	font-size:1.8rem;
	transition: all .75s;
}
.img_wings{
	overflow:hidden;
	transition-duration:all 5s;
}
.img_wings:hover img{
	transform: scale(1.2);
	overflow: hidden;
	transition-duration: 1s;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto>img {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}


/*===================================
User Review Area


.user-review{
	padding-top:6.875rem;
	padding-bottom: 15rem;
	
}
.ur-1>img{
	
}
.ur-1>h6{
	position: absolute;
	bottom: -.5rem;
	 left: 4.8rem;
	right:auto;
	border: 2px solid silver;
	background-color: silver;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	padding-left: .5rem;
	border-radius: 25%;
}

.ur-2>img{
	position:absolute;
	top:53px;
	right:0px;
	left:617px;
	bottom:0px;
}
.ur-2>h6{
	position: absolute;
	bottom: -7.5rem;
	 left: 4.8rem;
	right:auto;
	border: 2px solid silver;
	background-color: silver;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: .5rem;
	padding-left: .5rem;
	border-radius: 25%;
}
====================================*/

/*====================================
Owner say Area starts


.owners-say{
	margin-top: 5rem;
	background-image:url(images/bg/ownersay.jpg);
	height: 18.5rem;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.quote>h5{
	text-align: center;
	padding-top: 8rem;
	
}
====================================*/

/*======================================
Footer Area Starts
=====================================*/
.footer{
	background-image: linear-gradient(to left, rgba(210,130,0,0.7514356084230567) 0%, rgba(2,2,35,1) 50%, rgba(4,175,209,0.7290266448376226) 100%), url(images/bg/5701.jpg);
	background-size: cover;
	
}
.footer-list{
	 padding-top: 4rem;
}
.footer-list>li{
	list-style: none;
	padding-top:1rem;
	font-family: 'RobotoCondensed';
}
.footer-list>li>a{
	text-decoration: none;
	color:white;
}
.footer-logo>img{
	text-align: center;
	padding-top:8rem;
	padding-left: 3rem;
}
.follow-us>h4{
	padding-top:8rem;
	color:white;
	text-align: center;
}
.follow-us>ul>li{
	list-style:none;
	display: inline-block;
	text-align: center;
	padding-right: .5rem;
}
.follow-us>ul{
	font-family: 'RobotoCondensed';
	text-align: center;
	font-size: 1.75rem;
}
.right>h6{
	color:white;
	text-align:center;
	font-family: 'RobotoCondensed';
}





/* Responsive*/

@media screen 
	and (min-width: 768px)
	and (max-width: 1023px){

		
/*=============================
Latest Prodct Area
==============================*/

.latest-product-head{
	padding-top: 10rem;
	padding-bottom: 3rem;
	text-align: center;
	
}
.multi-column-carousel{
	height:12rem;
	width:28.75rem;
	padding-right:.75rem;
	padding-left: .75rem;
}
.jumbotron {
    padding: 1rem 1rem;
}
		
		
		
/*==================================
Product Categories Area
=====================================*/

.product-category-head{
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 3rem;
}
.product-category-image{
	height:16rem;
	width:28.75rem;
	padding-bottom: 1.5rem;
}
		
		
	.footer-logo>img{
	text-align: center;
	padding-top:8.5rem;
	padding-left: 0rem;
	 width: 100%;
}

}